# ignore everything in root
# and not files with extensions
# but not in subfolders
/*
!/*/
!/*.*

# ignore data
/data/

# ignore articles & pubs
/articles/
/pubs/

# generated test input
/test_input/

# Doxygen output
/doc/html/
/doc/doxygen_sqlite3.db

# well known temporary files
*~
/*.bin
/*.png
/*.svg
/*.txt
/build*/
*.pyc

# build files
/Makefile
/src/Makefile*
/src/**/*.o
/src/**/*.d
/CMakeFiles
/CMakeLists.txt.user
/build.ninja
/rules.ninja
/.ninja_deps
/.ninja_log
/cmake_install.cmake
/PET.cbp

# ignore OS X specific mess
.DS_Store
/*.dylib
